<nav class="px-10 py-5 bg-blue-600">
  <ul class="flex justify-between items-center space-x-4">
    <li><a href="/">Home</a></li>
    <% if (!locals.user) {%>
      <li><a href="/auth/sign-up">Sign Up</a></li>
      <li><a href="/auth/login">Log In</a></li>
    <% } else { %>
      <li><a href="/folders">View Folders</a></li>
      <li><a href="/auth/logout">Log Out</a></li>
    <% } %>
  </ul>
</nav>