<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Sharing App</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black/80 text-white">
  <main class="mx-auto w-full lg:w-3/4 p-4">
    <%- include('./partials/navbar.ejs') %>
    <h3 class="mt-5 text-xl">Welcome</h3>
    <div>
      <p class="mt-3 text-start text-gray-400">
        This is a file sharing app where you can upload and share files with others.
      </p>
      <% if (locals.user) {%>
        <div class="my-3">
          <a href="/folders" class="text-blue-400 hover:underline">View Folders</a> 
        </div>
      <% } %>
    </div>
  </main>
</body>
</html>